@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500&family=Kaisei+Tokumin:wght@400;700&display=swap");

$white: #fcfcfc;
$purple: rgba(10, 27, 71, 1);
$purple_light: rgba(10, 27, 71, 0.2);
$sand: rgba(232, 161, 35, 1);
$sand_light: rgba(232, 161, 35, 0.2);
$ocean: rgba(5, 97, 103, 1);
$ocean_light: rgba(5, 97, 103, 0.2);
$brick: rgba(159, 57, 20, 1);
$brick_light: rgba(159, 57, 20, 0.2);
$sky: rgba(166, 207, 227, 1);
$sky_light: rgba(166, 207, 227, 0.2);
$blue: rgba(78, 130, 179, 1);
$breakpoint-mobile: 480px;

body,
html {
  margin: 0;
  padding: 0;
  font-family: "DM+Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #222;
  background: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Kaisei Tokumin", serif;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;

  b {
    font-weight: 500;
  }

  &.small {
    margin: 0;
    padding: 0;
    font-size: 12px;
  }
}

span {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
}

a.button {
  padding: 12px 20px;
  display: inline-block;
  margin-top: 20px;
  background: $white;
  border-radius: 20px;
  color: #333;
  margin-right: 12px;
  transition: all 0.2s ease-in-out;

  &:hover {
    -webkit-transform: scale(1.05);
  }

  &:active {
    -webkit-transform: scale(0.95);
  }
}

blockquote {
  margin: 0;
  padding: 0;
  font-size: 1.4em;
  border-left: 2px solid $sky;
  padding-left: 20px;

  &.red {
    border-left: 2px solid $brick;
  }
}

.pills {
  display: flex;

  .pill {
    padding: 4px 8px;
    border-radius: 20px;
    margin-right: 8px;
    &:nth-child(4n) {
      background: $sand_light;
    }
    &:nth-child(4n + 1) {
      background: $purple_light;
    }
    &:nth-child(4n + 2) {
      background: $brick_light;
    }
    &:nth-child(4n + 3) {
      background: $sky_light;
    }
  }
}

.center {
  text-align: center;
}

.container {
  width: 80%;
  max-width: 800px;
  margin: auto;
  padding: 80px 0;
}

.people {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
  }

  .person {
    width: 25%;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;

    @media (max-width: $breakpoint-mobile) {
      flex-direction: column;
      width: 100%;
      padding: 0;
      padding-bottom: 20px;
      text-align: center;
    }
    img {
      //   width: 180px;
      width: 140px;
      height: 140px;
      border-radius: 100%;
    }
    h4 {
      margin-bottom: 10px;
    }
    span {
      display: block;
      font-size: 13px;
      width: 100%;
      max-width: 160px;
      margin: auto;
    }
  }
}

.flex {
  display: flex;

  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
  }

  .flexItems {
    width: 33%;
    justify-content: center;

    @media (max-width: $breakpoint-mobile) {
      width: 100%;
      padding: 0;
      padding-bottom: 20px;
      text-align: center;
    }
  }
}

.footer {
  background: #111;
  color: $white;
  font-size: 12px;
  .container {
    padding: 20px;
  }
  p.small {
    font-size: 12px;
    opacity: 0.5;
  }
}

// home page

.looom__home {
  .splash {
    padding: 80px;
    text-align: center;

    .bio {
      width: 80%;
      max-width: 520px;
      margin: auto;
      margin-top: -20px;
      //   text-align: left;
    }
  }
  .logo {
    width: 80%;
    max-width: 320px;
  }
  .projects__container {
    display: flex;
    justify-content: space-between;
    // padding-bottom: 80px;

    .project {
      width: 30%;
      text-align: center;

      :hover {
        opacity: 0.95;
      }

      .project__img {
        width: 100%;
        height: 200px;
        margin: auto;
        background-size: cover !important;
        border-radius: 4px;
      }
    }
  }
}

// project page
.project__page {
  .project__cover {
    width: 100%;
    height: 40vh;

    background-size: cover;
    background-position-y: -40vh;
    margin: 0;
    padding: 80px;
    box-sizing: border-box;
  }

  .project__cover__video {
    width: 100%;
    height: auto;
    max-height: 70vh;
    background-size: cover;
    background-position-y: -40vh;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;

    video {
      width: 100%;
      height: 100%;
      position: relative;
      max-width: 1200px;
      margin: auto;
      display: block;
    }
  }
  h1,
  h2 {
    margin: 0;
    padding: 0;
  }

  .project__header {
    padding: 80px 0 80px;
  }

  .project__people {
    background: $sand_light;
    text-align: center;

    .people {
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }

  // Kehalani Specific
  .kehalani_what {
    background: $sky_light;
    text-align: center;

    img {
      height: 100px;
    }

    .flex {
      margin-top: 60px;
    }
  }

  .kehalani_story {
    img {
      width: 100%;
    }
  }

  .help {
    background: $blue;
    color: $white;

    .captial {
      width: 100%;
      height: 30px;
      border: 2px solid rgba(0,0,0,0.4);
      position: relative;
      margin: 12px 0;
      border-radius: 40px;
      overflow: hidden;

      .capital_raised {
        position: relative;

        height: 30px;
        background: rgba(0,0,0,0.4);
      }

      .capital_text {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        margin-top: 0;

        h4 {
          margin:4px
        }
      }
    }
  }
}
